aiodns==2.0.0
aiogram==2.9.2
aiohttp==3.6.2
aiohttp-socks==0.3.9
alerta==7.5.7
apubsub==0.2.5
async-timeout==3.0.1
attrs==19.3.0
babel==2.8.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
idna==2.10
importlib-metadata==1.7.0; python_version < "3.8"
influxdb==5.2.3
jinja2==2.11.2
jsonschema==3.2.0
markupsafe==1.1.1
mohawk==1.1.0
multidict==4.7.6
ocomone==0.4.3
pbr==5.5.0
pycares==3.1.1
pycparser==2.20
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
pyyaml-typed==0.1.1
requests==2.24.0
requests-hawk==1.0.1
rfc3339-validator==0.1.2
six==1.15.0
tabulate==0.8.7
urllib3==1.25.9
uvloop==0.14.0; sys_platform == "linux"
yarl==1.4.2
zipp==3.1.0; python_version < "3.8"
