aiodns==2.0.0
aiogram==2.6.1
aiohttp==3.6.2
aiohttp-socks==0.3.4
apubsub==0.2.2
async-timeout==3.0.1
attrs==19.3.0
babel==2.8.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
idna==2.9
influxdb==5.2.3
multidict==4.7.5
ocomone==0.4.3
pycares==3.1.1
pycparser==2.19
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3
pyyaml-typed==0.1.1
requests==2.23.0
six==1.14.0
urllib3==1.25.8
uvloop==0.14.0; sys_platform == "linux"
yarl==1.4.2
