aiodns==2.0.0
aiogram==2.6.1
aiohttp==3.6.2
aiohttp-socks==0.3.4
alerta==7.4.4
apubsub==0.2.2
async-timeout==3.0.1
attrs==19.3.0
babel==2.8.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
idna==2.9
importlib-metadata==1.5.0; python_version < "3.8"
influxdb==5.2.3
jsonschema==3.2.0
mohawk==1.1.0
multidict==4.7.5
ocomone==0.4.3
pycares==3.1.1
pycparser==2.20
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3
pyyaml-typed==0.1.1
requests==2.23.0
requests-hawk==1.0.1
rfc3339-validator==0.1.2
six==1.14.0
tabulate==0.8.6
urllib3==1.25.8
uvloop==0.14.0; sys_platform == "linux"
yarl==1.4.2
zipp==3.1.0; python_version < "3.8"
